@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

body {
  margin: 0;
  font-family: "Istok Web", sans-serif;
  font-size: 1.1rem;
  background-image: linear-gradient(
    to right top,
    #6d28d9,
    #6133da,
    #543bdb,
    #4642db,
    #3748da,
    #3c49dc,
    #414add,
    #454bdf,
    #5b47e3,
    #6e42e6,
    #813ce8,
    #9333ea
  );
}

img {
  border-radius: 5pt 10pt 5pt 10pt;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  max-width: 1420px;
  margin: 10px auto 0px auto;
  padding: 0px 15px;
}

.logo {
  width: 100px;
}

header > nav {
  text-align: end;
  flex-grow: inherit;
}

header > nav a {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  padding: 0px 10px 15px 10px;
}

main {
  min-height: Calc(100vh - 271px);
  padding: 0px 20px;
  margin: auto;
  max-width: 1420px;
  color: #fff;
}

footer {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 30px 0px 30px 10px;
  text-align: center;
  margin-top: 80px;
}

.container {
  display: flex;
  margin: 10px;
}

.col {
  width: 100%;
  padding: 5px;
}

@media only screen and (max-width: 740px) {
  header {
    height: 70px;
    margin: 15px auto 0px auto;
  }

  main {
    min-height: Calc(100vh - 306px);
    padding: 30px 10px;
  }

  header > nav > a {
    padding: 0px 6px 10px 6px;
    font-size: 1.1rem;
  }

  .container {
    display: block;
  }

  .col img {
    margin-top: 30px;
  }
}
