.details h2 {
  font-size: 3.5em;
  margin-top: 80px;
}
.details h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
}
.html {
  margin-top: 40px;
}
.featured {
  margin-bottom: 40px;
}

.html h2 {
  font-size: 2rem;
  margin-bottom: -20px;
}

.html h3 {
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 1.6rem;
}
